

.Home{
  width: 100vw;
  height: 100vh;
  display: flex;
    .container{
      width: 50vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .2s;
      &:hover{
        width: 95vw;
      }
      .cta-icon{
        transform: scale(2);
        transition: all .2s;
        color: black;
        &:hover{
          transform: scale(4);
        }
      }
      .home-container{
        height: 100%;
        width: 100%;
        background: url('../../imgs/team.jpg') center;
        background-size: cover;
        .cta-icon{
        }
      }
      .away-container{
        height: 100%;
        width: 100%;
        background: url('../../imgs/away.svg') center;
        background-size: cover;
        .cta-icon{
        }
      }
    }
  }

@media screen and (max-width: 800px) {
  .Home{
    flex-direction: column;
    .container{
      width: 100vw;
      height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .2s;
      &:hover{
        width: 100vw;
        height: 95vh;
        .cta-icon{
          display: inline-block;
          transform: scale(3);
        }
      }
      .cta-icon{
        display: none;
        transform: scale(2);
        transition: all .2s;
        background: rgba( white, .8);
        color: black;
        &:hover{
          transform: scale(4);
        }
      }
    }
  }
}